@{ Layout = "_Layout"; }

@model HairSalon.Models.Stylist

<h2>Edit</h2>
<hr />

<h4>Edit details for this stylist: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.StylistId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)

  <input type="submit" value="Save" />
}
<hr />
<a href='@Url.Action("Create", "Clients")'><button>Add Client</button></a>&emsp;
<a href='@Url.Action("Index")'><button>Back to List</button></a>&emsp;
<a href='@Url.Action("Index", "Home")'><button>Home</button></a>